{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css"/>
{% endblock %}
{% block body %}{%for t in teste%}{{t.nome}}{%endfor%}
	<div class="row clearfix">
    <div class="col-md-9  text-center">

       <form id="frm_pesquisa" method="post">
                <div class="form-group text-left">
                    <label for="categoria_selecionada" class="text-primary"> Filtrar por Categorias:  </label>
                    <select class="form-control select_pesquisa_categoria_produtos_admin" name="categoria_selecionada">
                        <option value="" onclick="$('#frm_pesquisa').submit()">Todos</option>
                        {% for cat in categorias %}
                            <option value="{{cat.key.id()}}" {{ 'selected="selected"' | safe if cat == categoria_selecionada }} onclick="$('#frm_pesquisa').submit()">{{cat.nome}}</option>
                        {% endfor %}
                    </select>
                    
                </div>
            </form>


        <br/><br/>
        {% if resultados > 0 or categoria_selecionada%}
        <h4 class="text-primary">Lista de Produtos {% if categoria_selecionada%}({{categoria_selecionada.nome}}){%endif%}</h4>
        <span class="text-muted">Resultados: {{resultados}}</span><br/><br/>
        
        <table class="table table-striped">
            <tr class="info">
                <td><h5>Código</h5></td>
                <td><h5>Nome</h5></td>
                <td><h5>Categoria</h5></td>
                <td><h5>Descrição</h5></td>
                <td><h5>Preço</h5></td>
                <td><h5>Novidade?</h5></td>
                <td><h5>Editar</h5></td>
                <td><h5>Deletar</h5></td>
            </tr>

            {% for prod in produtos %}
                <tr><td>{{prod.key.id()}}</td>
                <td>{{prod.nome}}</td>
                {% for cat in categorias %}
                    {%if cat.key.id() == prod.categoria.id()%}
                <td>{{cat.nome}}</td>
                {%endif%}
                {%endfor%}
                <td>{{prod.descricao}}</td>
                <td>{{prod.preco}}</td>
                <td>{%if prod.novidade==1%}Sim{%else%}Não{%endif%}</td>
                <td><a href="{{ prod.editar_path }}" class="btn btn-warning glyphicon glyphicon-pencil"></a></td>
                <td><form onSubmit="return confirm('Deseja apagar esse registro?')" method="post" action="{{ prod.deletar_path }}">
                    {{ csrf_input() }}
                <button class="btn btn-danger" type="submit" ><i class="glyphicon glyphicon-trash"></i></button>

                </form></td>
                </tr>
            {% endfor %}
        </table>
        {%else%}
            <h4 class="text-primary">Nenhum Produto Cadastrado Ainda :(</h4>
        {%endif%}
        <a href="/produtos/admin/cadastro" class="btn btn-success">Adicionar</a>
			
		</div>
        
	</div>

{% endblock %}
