{% extends 'noticias/base.html' %}

{% block titulo_noticia %}
	Crise Hídrica  
{% endblock %}

{% block sub_titulo_noticia %} 
	Saiba como dar um banho econômico no seu bichinho
{% endblock %} 

{% block foto_noticia %}
	<img class="img-rounded" style="width:100%;  height:300px " src="static/img/noticias/noticia1.jpg" />  
{% endblock %}
{% block noticia %}
	
<br/>
	

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultricies turpis libero, nec volutpat elit finibus sit amet. Etiam iaculis facilisis nulla non interdum. Morbi pulvinar erat et accumsan faucibus. Proin tempus dui vitae molestie interdum. Nullam elementum massa enim, euismod varius arcu sagittis sit amet. Vestibulum quis elit blandit, vulputate tortor eget, congue nibh. Nunc condimentum interdum arcu non luctus. Nullam ullamcorper, augue quis scelerisque sodales, tortor diam sodales mauris, a feugiat lorem lectus at mi. Sed sed tortor imperdiet, mattis ipsum et, pharetra diam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse nec ligula ac mauris sodales volutpat ut a augue. Aenean in odio sit amet erat porta posuere. Mauris egestas turpis bibendum massa vestibulum porta at sit amet ex. Etiam scelerisque cursus lacus, ac ornare lectus dictum sed.

<br/><br/>

Phasellus dignissim malesuada orci et iaculis. Nulla ac eros urna. Mauris eu varius elit, et lobortis massa. Fusce non ipsum non felis vulputate fringilla. Fusce viverra, felis eu consequat convallis, massa ipsum tempor nisl, a fermentum tellus lectus id velit. Nunc fermentum porta quam rutrum fermentum. Donec quis ligula odio. Morbi nec turpis laoreet, malesuada eros ut, tincidunt ante. Suspendisse ante lectus, efficitur ac magna in, facilisis mollis tellus. Proin venenatis placerat nisi ac mattis. Mauris tincidunt odio et justo venenatis porta. Donec iaculis hendrerit augue a venenatis. Etiam efficitur volutpat urna, sit amet vestibulum urna efficitur a. Etiam vel mattis risus. In interdum maximus varius.

Cras non volutpat dolor. Sed porttitor turpis dui, nec faucibus sapien bibendum et. Vivamus sagittis, urna in consectetur finibus, tellus neque feugiat elit, consectetur luctus nulla tortor a massa. Suspendisse sed ultrices urna. Donec felis sapien, iaculis mattis turpis ac, varius placerat augue. Curabitur id dapibus metus. Aenean at elit eget diam consequat ullamcorper. Pellentesque vehicula luctus lorem, eu tincidunt enim tincidunt eget. Etiam eleifend enim vitae facilisis pretium. Praesent eget lectus quis est tempus dictum. Aliquam ultricies imperdiet tincidunt.

<br/><br/>
Aenean consequat, risus id porta ultricies, enim arcu ultrices lectus, in congue mi ex ut arcu. Quisque posuere diam turpis, quis efficitur massa gravida sed. Quisque luctus velit non enim faucibus volutpat. Donec pulvinar eget felis vitae imperdiet. Integer in quam non diam rhoncus auctor a ac orci. Vivamus lacus est, porta non dui mollis, placerat tincidunt mauris. Nam fermentum dapibus ultricies. In vel vulputate diam, non luctus erat. Sed malesuada leo sit amet leo condimentum euismod id vel enim.

Sed tincidunt, lacus eu rutrum laoreet, ligula sapien malesuada ex, vel efficitur odio eros eu metus. Etiam eu aliquet sem. Sed nec euismod libero, in dictum mi. Maecenas metus ipsum, venenatis a purus sit amet, consectetur sollicitudin lectus. Pellentesque quis tortor a dolor elementum vulputate. Aenean pellentesque convallis venenatis. Nulla commodo non ex sed vulputate. Nam pellentesque, arcu a finibus elementum, nibh leo tempor justo, in blandit dui dui sit amet magna. Aenean suscipit eget est sit amet rhoncus. Vivamus mattis mi eu tortor dignissim, sit amet elementum augue condimentum. Suspendisse vitae felis auctor, pellentesque ipsum sit amet, venenatis leo. Proin pretium sapien a metus imperdiet, ut pretium nisi finibus. Duis bibendum ultrices nunc quis vestibulum. Maecenas in velit vestibulum, sollicitudin tortor ac, imperdiet mauris. 

	
{% endblock %}
