{% extends 'base/base.html' %}
{% block body %}
  <div class="row clearfix">
        <div class="col-md-12 column">

            <h3 class="text-success"> Formulário de Upload </h3>
            <br/>
             <form action="{{upload_url}}" method="post" role="form" enctype="multipart/form-data">
             {{ csrf_input() }}
                <input type="file" name="blob" />
                <br/>
                <button type="submit" class="btn btn-success">Enviar</button>
            </form>
           

        </div>
    </div>
{% endblock %}