{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css"/>
{% endblock %}
{% block body %}
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header text-center">
                <h1>
                    Meu Pet Manero <small>Produtos para seu Pet</small>
                </h1>
            </div>

            <div class="carousel slide" id="carousel-801187">
                <ol class="carousel-indicators">
                    <li data-slide-to="0" data-target="#carousel-801187">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-801187" >
                    </li>
                    <li data-slide-to="2" data-target="#carousel-801187" class="active">
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item">
                        <img alt="" src="static/img/home_banner1.jpg">
                        <div class="carousel-caption">
                            <h4>
                                Novidades
                            </h4>
                            <p>
                                Produtos personalizados, Confira!
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="" src="static/img/home_banner2.jpg">
                        <div class="carousel-caption">
                            <h4>
                                Frete Grátis
                            </h4>
                            <p>
                               Nas compras acima de R$ 99,90
                            </p>
                        </div>
                    </div>
                    <div class="item active">
                        <img alt="" src="static/img/home_banner3.jpg">
                        <div class="carousel-caption">
                            <h4>
                                Tudo para seu animalzinho
                            </h4>
                            <p>
                                Seja qual for, aqui ele será bem tratado!
                            </p>
                        </div>
                    </div>
                </div> <a class="left carousel-control" href="#carousel-801187" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-801187" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <hr/><br/>
        <div class="col-md-8 column borda_direita"> 
            <h3>
                Confira as novidades!
            </h3>
            <div class="row clearfix">
                
                <div class="col-md-6 column text-center espacamento_inferior">
                    <div>
                        <img class="img-rounded produto_imagem_pequeno" src="static/img/products/product1.jpg">
                    </div>
                    <div >
                        <label>Teste de produto</label><br/>
                        <span>Por: 199,90</span><br/>
                        <a class="btn btn-success" href="/produtos/produto">+ Detalhes »</a>
                    </div>                  
                </div>

                <div class="col-md-6 column text-center espacamento_inferior">
                    <div>
                        <img class="img-rounded produto_imagem_pequeno"  src="static/img/products/product2.jpg">
                    </div>
                    <div >
                        <label>Teste de produto</label><br/>
                        <span>Por: 199,90</span><br/>
                        <a class="btn btn-success" href="/produtos/produto">+ Detalhes »</a>
                    </div>                  
                </div>

                <div class="col-md-6 column text-center espacamento_inferior">
                    <div>
                        <img class="img-rounded produto_imagem_pequeno"  src="static/img/products/product3.jpg">
                    </div>
                    <div >
                        <label>Teste de produto</label><br/>
                        <span>Por: 199,90</span><br/>
                        <a class="btn btn-success" href="/produtos/produto">+ Detalhes »</a>
                    </div>                  
                </div>

                <div class="col-md-6 column text-center espacamento_inferior">
                    <div>
                        <img class="img-rounded produto_imagem_pequeno"  src="static/img/products/product4.jpg">
                    </div>
                    <div >
                        <label>Teste de produto</label><br/>
                        <span>Por: 199,90</span><br/>
                        <a class="btn btn-success" href="/produtos/produto">+ Detalhes »</a>
                    </div>                  
                </div>
                
            </div>
        
        </div>
        <div class="col-md-4 column">
            <h4>
                Fique ligado
            </h4>
            <p>
                Dicas para você cuidar bem do seu bichinho!
            </p>
            <img class="img-rounded produto_imagem_pequeno"  src="static/img/noticias/noticia1.jpg">
            <blockquote>
                <p>
                    Lorem ipsum dolor sit amet, 
                </p> <small>Someone famous <cite>Source Title</cite></small>
            </blockquote>
        </div>
    </div>


{% endblock %}