{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css"/>
{% endblock %}
{% block body %}
	<div class="row clearfix">
        <div style="border:1px solid black" class="col-md-12 column">

			<h3 class="text-primary text-left">
				Cadastro 
			</h3>
			<form role="form" method="post" action="/">

				<br/><br/>
				<div class="col-md-6 column">
					<fieldset>
						<legend class="text-muted"><h5>Dados Pessoais</h5></legend>

						<div class="form-group">
							 <label for="nome">* Nome</label><input class="form-control input-xlarge" id="nome" type="text" required=required>
						</div>

						<div class="form-group">
							 <label for="email">* Email </label><input class="form-control input-xlarge" id="email" type="email" required=required>
						</div>
						<div class="form-group">
							 <label for="senha">* Senha</label><input class="form-control input-xlarge" id="senha" type="password" required=required>
						</div>

						<div class="form-group">
							 <label for="cpf">* CPF</label><input class="form-control input-medium" id="cpf" type="text" required=required>
						</div>

						<div class="form-group">
							 <label for="data_nascimento">* Data Nascimento </label><span class="text-muted"> (dd/mm/aaaa)</span><input class="form-control input-medium" id="data_nascimento" type="text" required=required>
						</div>

						<div class="form-group">
							 <label for="sexo">* Sexo</label>
							 <select class="form-control span1" id="sexo" required=required>
							 	<option value="">Selecione</option>
							 	<option value="masculino">Masculino</option>
							 	<option value="feminino">Feminino</option>
							 </select>  
						</div>
						
						<div class="form-group">
							 <label for="telefone">* Telefone</label><input class="form-control input-medium" id="telefone" type="text" required=required>
						</div>

						<div class="form-group">
							 <label for="celular">Celular</label><input class="form-control input-medium" id="celular" type="text">
						</div>
					</fieldset>
				</div>
				
				<!-- <br/><br/> -->
				<div class="col-md-6 column">
					<fieldset>
						<legend><h5 class="text-muted">* Endereço</h5></legend>
						<div class="form-group">
							 <label for="cep">* CEP</label><input class="form-control input-medium" id="cep" type="text" required=required>
						</div>

						<div class="form-group">
							 <label for="endereco">* Endereco</label><input class="form-control input-xlarge" id="endereco" type="text" required=required>
						</div>

						<div class="form-group">
							 <label for="numero">* Número</label><input class="form-control input-small" id="numero" type="text" required=required>
						</div>

						<div class="form-group">
							 <label for="bairro">* Bairro</label><input class="form-control input-medium" id="bairro" type="text" required=required>
						</div>

						<div class="form-group">
							 <label for="cidade">* Cidade</label><input class="form-control input-xlarge" id="cidade" type="text" required=required>
						</div>

						<div class="form-group">
							 <label for="estado">* Estado</label>
							 <select class="form-control span1" id="estado" required=required>
							 	<option value="">Selecione</option>
							 	<option value="AC">AC</option>
				                <option value="AL">AL</option>
				                <option value="AP">AP</option>
				                <option value="AM">AM</option>
				                <option value="BA">BA</option>
				                <option value="CE">CE</option>
				                <option value="DF">DF</option>
				                <option value="ES">ES</option>
				                <option value="GO">GO</option>
				                <option value="MA">MA</option>
				                <option value="MT">MT</option>
				                <option value="MS">MS</option>
				                <option value="MG">MG</option>
				                <option value="PA">PA</option>
				                <option value="PB">PB</option>
				                <option value="PR">PR</option>
				                <option value="PE">PE</option>
				                <option value="PI">PI</option>
				                <option value="RJ">RJ</option>
				                <option value="RN">RN</option>
				                <option value="RS">RS</option>
				                <option value="RO">RO</option>
				                <option value="RR">RR</option>
				                <option value="SC">SC</option>
				                <option value="SP">SP</option>
				                <option value="SE">SE</option>
				                <option value="TO">TO</option>
							 </select>  
						</div>

					</fieldset>
				</div>

				<!-- <div class="checkbox">
					 <label><input type="checkbox"> Check me out</label>
				</div>  -->
				
				<button type="submit" class="btn btn-success">Enviar</button>
				<button type="button" class="btn btn-default">Voltar</button>
			</form>
		</div>
	</div>

{% endblock %}
