{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css"/>
{% endblock %}
{% block body %}
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="col-md-2 column">

                <div class="list-group">
                    <a href="#" class="list-group-item active">Cosméticos</a>
                    <div class="list-group-item">
                        <a href="/produtos?c=roupas">Roupas</a>
                    </div>
                    <div class="list-group-item">
                        <a href="/produtos?c=camas">Camas</a>
                    </div>
                    <div class="list-group-item">
                        <a href="/produtos?c=alimentacao">Alimentação</a>
                    </div>
                    <div class="list-group-item">
                        <a href="/produtos?c=coleiras">Coleiras</a>
                    </div>

                    <a href="#" class="list-group-item active"> Saúde/Higiene</a>
                    <div class="list-group-item">
                        <a href="/produtos?c=shampoos">Shampoos</a>
                    </div>

                    <div class="list-group-item">
                        <a href="/produtos?c=vacinas">Vacinas</a>
                    </div>

                    <a href="#" class="list-group-item active">Para você</a>

                    <div class="list-group-item">
                        <a href="/produtos?c=camisetas">Camisetas</a>
                    </div>

                    <div class="list-group-item">
                        <a href="/produtos?c=canecas">Canecas</a>
                    </div>

                    <a class="list-group-item active" href="/produtos?c=novidades"><span class="badge">14</span>Novidades</a>
                </div>

        </div>

            <div class="col-md-10 column">
                {% block detalhe %}
{#                <div id="foto" class="pull-left">#}
{##}
{#                    <img class="img-rounded produto_imagem1" alt="340x340" src="static/img/products/product2.jpg" />#}
{#                </div>#}
{##}
{#                <div id="informacoes" class="pull-left produto_informacao">#}
{#                    <h3 class="text-success">  Cama personalizada </h3>#}
{#                    <br/>#}
{##}
{#                    <label>Descrição:</label>#}
{#                    . Lorem ipsum dolor sit amet.. Lorem ipsum dolor sit amet.#}
{##}
{#                    <br/>#}
{##}
{#                    <label>Categoria:</label>#}
{#                    Cão/Gato#}
{##}
{#                    <br/><br/>#}
{#                    <label>Preço: <span class="preco">59.99</span></label>#}
{##}
{#                    <br/>#}
{#                    <a href="#" class="btn btn-success" type="button">Comprar</a>#}
{#                </div>#}
                    {% endblock %}

            </div>
        </div>
    </div>

{% endblock %}