{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css"/>
{% endblock %}
{% block body %}
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="col-md-2 column">

                <div class="list-group">
                
                    <div class="list-group-item active">Cosméticos</div>

                    <div class="list-group-item">
                        <a href="/produtos?c=roupas">Roupas</a>
                    </div>
                    <div class="list-group-item">
                        <a href="/produtos?c=camas">Camas</a>
                    </div>
                    <div class="list-group-item">
                        <a href="/produtos?c=alimentacao">Alimentação</a>
                    </div>
                    <div class="list-group-item">
                        <a href="/produtos?c=coleiras">Coleiras</a>
                    </div>

                    <div class="list-group-item active">Para você</div>

                    <div class="list-group-item">
                        <a href="/produtos?c=camisetas">Camisetas</a>
                    </div>

                    <div class="list-group-item">
                        <a href="/produtos?c=canecas">Canecas</a>
                    </div>

                    <div class="list-group-item active"> Saúde/Higiene</div>
                    <div class="list-group-item">
                        <a href="/produtos?c=shampoos">Shampoos</a>
                    </div>

                    <div class="list-group-item">
                        <a href="/produtos?c=vacinas">Vacinas</a>
                    </div>

                  
                    <!-- ### FIXME FORÇADO PARA 4 ### -->
                    <a class="list-group-item active" href="/produtos?c=novidades"><span class="badge">4</span>Novidades</a>
                </div>

        </div>

            <div class="col-md-10 column">
                {% block detalhe %}
                {% endblock %}

            </div>
        </div>
    </div>

{% endblock %}