{% extends 'produtos/base.html' %}

{% block detalhe %}

<h5 class="text-success text-center">
	Resultados:  
	<label class="text-capitalize">
	{{ quantidade }} 

	{% if categoria=='' %}
		(Todos)

	{% else %}
		({{ categoria }})
		
	{% endif %}
	</label>
</h5>

<!-- <form id="frm_produto" action="/produtos/produto" action="post"> -->
{% for p in produtos %}
	<div class="pull-left espacamento_inferior">
	<div class="text-center">
		<img class="img-rounded produto_imagem_medio espacamento_geral" src="static/img/products/product{{ p.codigo}}.jpg"/><br/>
		<a href="produtos/produto?p={{p.codigo}}">{{p.nome}}</a>
		<!-- <a href="javascript:frm_produto.submit()">{{p.nome}}</a> -->
	</div>
</div>

{% endfor %}

<!-- </form> -->

    
{% endblock %}