{% extends 'produtos/base.html' %}

{% block detalhe %}

<h5 class="text-success">Produtos</h5>

<div class="pull-left espacamento_inferior">
	<div class="text-center">
		<img class="img-rounded produto_imagem_medio espacamento_geral" src="static/img/products/product2.jpg"/><br/><a href="produtos/produto">Produto1</a>
	</div>
</div>

<div class="pull-left espacamento_inferior">
	<div class="text-center">
		<img class="img-rounded produto_imagem_medio espacamento_geral" src="static/img/products/product3.jpg"/><br/><a href="produtos/produto">Produto1</a>
	</div>
</div>

<div class="pull-left espacamento_inferior">
	<div class="text-center">
		<img class="img-rounded produto_imagem_medio espacamento_geral" src="static/img/products/product1.jpg"/><br/><a href="produtos/produto">Produto1</a>
	</div>
</div>

<div class="pull-left espacamento_inferior">
	<div class="text-center">
		<img class="img-rounded produto_imagem_medio espacamento_geral" src="static/img/products/product4.jpg"/><br/><a href="produtos/produto">Produto1</a>
	</div>
</div>

<div class="pull-left espacamento_inferior">
	<div class="text-center">
		<img class="img-rounded produto_imagem_medio espacamento_geral" src="static/img/products/product4.jpg"/><br/><a href="produtos/produto">Produto1</a>
	</div>
</div>

<div class="pull-left espacamento_inferior">
	<div class="text-center">
		<img class="img-rounded produto_imagem_medio espacamento_geral" src="static/img/products/product1.jpg"/><br/><a href="produtos/produto">Produto1</a>
	</div>
</div>

    
{% endblock %}