{% extends 'produtos/base.html' %}

{% block detalhe %}
    <div id="foto" class="pull-left">

        <img class="img-rounded produto_imagem_grande" alt="340x340" src="/static/img/products/product1.jpg"/>

    </div>

    <div id="informacoes" class="pull-left produto_informacao">
        <h3 class="text-success"> Cama personalizada </h3>
        <br/>

        <label>Descrição:</label>
        . Lorem ipsum dolor sit amet.. Lorem ipsum dolor sit amet.

        <br/>

        <label>Categoria:</label>
        Cão/Gato

        <br/><br/>
        <label>Preço: <span class="preco">59.99</span></label>

        <br/>
        <a href="#" class="btn btn-success" type="button">Comprar</a>
    </div>


{% endblock %}