{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css"/>
    <script type="text/javascript" src="/static/angular/js/angular.min.js"></script>
    <script type="text/javascript" src="/static/categoria/js/categoria.js"></script>
    <script type="text/javascript">
        var categoriaApp = angular.module('categoriaApp', ['categoriaModulo','rest']);
        var rest = angular.module('rest', []);

        rest.factory('CategoriaApi', function($http){
            return{
                salvar: function(categoria){
                    return $http.post('{{ rest_salvar_path}}', categoria);

                },
                listar: function(){
                    return $http.post('{{ rest_listar_path }}');
                },
                deletar: function(id){
                    return $http.post('{{ rest_deletar_path }}', {categoria_id : id});
                },

                editar: function(categoria){
                    return $http.post('{{ rest_editar_path }}', {categoria_id : categoria.id, nome: categoria.nome, categoria_pai : categoria.categoria_pai});
                }
            }
        });
        function CategoriaController($scope, CategoriaApi){
            // $scope.categoria={nome:'teste', categoria_pai: 'cosmeticos'};
            $scope.listando = true;
            $scope.categoriaLista = [];
            
            CategoriaApi.listar().success(function(categorias){
                // setTimeout(function(){ $scope.listando = false; }, 3000);
                $scope.listando = false;
                $scope.categoriaLista = categorias;
            })
 
            $scope.form = false;
            $scope.toggle = function () {
                $scope.form = !$scope.form;
            };

            $scope.adicionarCategoria = function(categoria){
                $scope.categoriaLista.unshift(categoria);
            };

            $scope.removerCategoria = function(categoria){
                var categoriaLista = $scope.categoriaLista;
                for (var i=0; i< categoriaLista.length; i+=1){
                    if (categoria.id == categoriaLista[i].id){
                       categoriaLista.splice(i,1);
                        break;
                    }
                }
            }

        }

    </script>
{% endblock %}
{% block body %}

<div ng-app="categoriaApp" ng-controller="CategoriaController">
	<div class="row clearfix" >
        <div class="col-md-6 col-md-6-offset-3 text-center">
        
            <h3 class="text-primary">Lista de Categorias</h3>
             <span class="text-muted">Resultados: <input ng-model="categoriaLista.length"></span><br/><br/>
            <table class="table table-striped" ng-show="categoriaLista.length>0">
                <tr class="info">
                    <td><h5>Código</h5></td>
                    <td><h5>Nome</h5></td>
                    <td><h5>Categoria Pai</h5></td>
                    <td><h5>Editar</h5></td>
                    <td><h5>Deletar</h5></td>
                </tr>
                <img src="/static/img/ajax.gif" ng-show="listando"/>
                <tr categorialinha ng-repeat="cat in categoriaLista" category="cat" deletar-concluido="removerCategoria(categoria)"></tr>

            </table>
        
			
		</div>
        
	</div>

    <div >
        <button class="btn btn-success" ng-click="toggle()">Adicionar</button><br/><br/>
        <categoriaform ng-show="form" category="categoria" nome-label="Roupas" categoria-pai-label="Categoria Pai" salvar-concluido="adicionarCategoria(categoria)"></categoriaform>


    </div>
</div>
{% endblock %}
