{% extends 'produto/base.html' %}

{% block detalhe %}
    <style>
{#    div{#}
{#        border: 1px solid black;#}
{#    }#}
    img{
        width: 200px;
        height: 200px;
    }
    </style>
    <h5 class="text-success">Produtos</h5>
<div class="pull-left" width="20%"><img style="margin: 10px;" class="" alt="340x340" src="static/img/products/product2.jpg"/></div>
    <div class="pull-left" width="15%"><img style="margin: 10px;" class="" alt="340x340" src="static/img/products/product2.jpg"/></div>
    <div class="pull-left" width="15%"><img style="margin: 10px;" class="" alt="340x340" src="static/img/products/product2.jpg"/></div>


{% endblock %}